<div class="col-md-9">

    <div class="jumbotron my-jumbotron">

        <p id = "press-button-p"> Wanna fruits salat? Good luck! Press play to start game </p>

            <div class="container">
                <img width="100px" ng-src="assets/images/{{ card.backPic}}" alt="{{ card.title }}" class="{{ card.class }}" ng-repeat="card in memoCtrl.allCards"  ng-click="memoCtrl.clickCard(card)">

                <img width="50px" ng-src="assets/images/play.png" class = "play-position" ng-click="memoCtrl.playGame()">
            </div>
    </div>
</div>

