<div class = "box-shadow">
     <p class = " list-group-item user-greeting-text"> Hello <span class="italic"> {{LeftPanelCtrl.userInfo.userNameFromDataBase}}</span>  </p>
    <p class = " list-group-item user-greeting-text">Your email: <span class="italic">{{LeftPanelCtrl.userInfo.emailFromDataBase}} </span></p>
    <p class = " list-group-item user-greeting-text">Your points: <span class="italic"> {{LeftPanelCtrl.userInfo.pointsFromDataBase}} </span> </p>

</div>
<div class = "leaderbord-shadow">
    <p class="list-group-item user-greeting-text">Leaderboard</p>
    <table class="table-style table table-striped my-table-size leaderbord-shadow">
        <tr class="user-greeting-text">
            <th>Name</th>
            <th>Points</th>
        </tr>

        <tr class="user-greeting-text" ng-repeat="user in LeftPanelCtrl.users | orderBy: '-points' | limitTo:10">
            <td> {{ user.name }}</td>
            <td> {{user.points}}</td>
        </tr>

    </table>
</div>

