 <div class="col-md-3">

    <div class = "box-shadow">
        <p class = " list-group-item user-greeting-text"> Hello <span class="italic"> {{main.userNameFromDataBase}}</span>  </p>
        <p class = " list-group-item user-greeting-text">Your email: <span class="italic">{{main.emailFromDataBase}} </span></p>
        <p class = " list-group-item user-greeting-text">Your points: <span class="italic"> {{main.pointsFromDataBase}} </span> </p>

    </div>
    <div class = "leaderbord-shadow">
        <a href="#/leaderboard" class="list-group-item user-greeting-text">Leaderboard</a>
    </div>

    <div class = "category-shadow">
        <p class="category-text">Games</p>

            <div class="category-shadow">
                <button class="list-group-item user-greeting-text" ng-click ="main.showCards()">Fruits</button>
                <button class="list-group-item user-greeting-text" ng-click ="main.showAnimalCards()">Hello kitty</button>
            </div>
    </div>

    <div class="clicks-shadow">
        <p class="list-group-item user-greeting-text">{{main.counter}} clicks</p>
    </div>

</div>
